body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -10;
}
body a {
    text-decoration: none;
}
body ul {
    list-style-type: none;
}

header {
    height: 95px;
    position: relative;
    background-color: white;
    width: 100vw;
}
@media (min-width: 992px) {
    header #small {
    display: none;
    }
    header #menu-small {
    display: none;
        }
}
@media (max-width: 992px) {
    header #big {
    display: none;
    }
    header #menu-small {
    font-size: medium;
    border-radius: 20px;
    border: 1px blue solid;
    color: blue;
    width: 140px;
    background-color: white;
    padding: 10px 20px;
    }
}
header .head {
    position: inherit;
    z-index: 2;
}
header .head nav {
    margin: 0 10px;
}
header .head nav #menu {
    font-size: medium;
    border-radius: 20px;
    border: 1px blue solid;
    color: blue;
    width: 140px;
    padding: 10px 20px;
}
@media (min-width: 992px) {
    header .head nav #menu:hover {
    border: 0;
    }
}
header .head nav #collapsibleNavId ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
}
header .head nav #collapsibleNavId ul li {
    margin-right: 30px;
}
header .head nav #collapsibleNavId ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
}
header .head nav #collapsibleNavId ul li a i {
    transition: 0.2s all ease-in;
}
header .head nav #collapsibleNavId ul li a:hover {
    border-bottom: 5px blue solid;
}
header .head nav #collapsibleNavId ul li a:hover i {
    transition: all 0.2s ease-out;
}
@media (max-width: 992px) {
    header .head nav #collapsibleNavId {
    display: none;
    }
}
header #login-signup a {
    padding: 10px 20px;
    border-radius: 20px;
    width: 100px;
    text-decoration: none;
}
header #login-signup #Log {
    border: 1.5px rgb(46, 46, 245) solid;
    color: blue;
    margin-right: 20px;
}
header #login-signup #Sign {
    background-color: #187bc2;
    color: white;
}
header #login-signup #Sign:hover {
    background-color: #005EA6;
}
@media (max-width: 992px) {
    header #login-signup #Sign {
    display: none;
    }
}
@media (max-width: 992px) {
    header #login-signup #Log {
    display: block;
    }
}

.menu-horizontal {
    width: 240px;
    background-color: #012169;
    position: absolute;
    top: 0;
    height: 100vh;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
    transform: translateX(-300px);
}
.menu-horizontal ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu-horizontal ul li {
    margin-bottom: 20px;
}
.menu-horizontal ul li a {
    color: white;
}
.menu-horizontal #signup {
    margin-top: 50px;
    color: white;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border: 1px white solid;
    border-radius: 20px;
}
.menu-horizontal #cross {
    font-size: 16px;
    color: white;
    background-color: #012169;
    display: block;
    width: 100%;
    text-align: center;
    border: 0;
    margin-top: 20px;
}

.buy-list {
    background-color: rgb(6, 0, 117);
    z-index: -1;
    position: inherit;
    transform: translateY(-480px);
}
.buy-list nav ul {
    padding: 20px;
    width: 50%;
}
.buy-list nav ul li {
    width: 40%;
    display: inline-block;
    padding: 10px;
}
.buy-list nav ul li a {
    color: white;
}
.buy-list nav ul li a:hover {
    text-decoration: underline;
}
.buy-list nav button {
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: rgb(6, 0, 117);
    display: inline;
}

.pay-list {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 10px;
    background-color: #012169;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 3;
    height: 100vh;
    transform: translateX(-280px);
}
.pay-list #buy-close {
    color: white;
    background-color: #012169;
    border: 0;
}
.pay-list nav {
    line-height: 2;
    padding-top: 20px;
}
.pay-list nav ul li {
    margin-bottom: 10px;
}
.pay-list nav ul li a {
    color: white;
    font-size: 16px;
}
.pay-list nav ul li a:hover {
    text-decoration: underline;
}

.first-section {
    z-index: -3;
    position: relative;
    display: flex;
    justify-content: center;
}
.first-section .overlay {
    height: 600px;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -2;
    /* display: block; */
    background: transparent;
    opacity: 0;
}
.first-section video {
    width: 100vw;
    z-index: -3;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
}
.first-section .controls {
    position: absolute;
    top: 460px;
    right: 120px;
    font-size: 14px;
    font-weight: 100;
    border: 4px solid white;
    height: 37.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37.5px;
    border-radius: 50%;
    background: transparent;
}
.first-section h1 {
    position: absolute;
    color: white;
    top: 200px;
    font-weight: 400;
}
.first-section #middle-option {
    position: absolute;
    top: 270px;
    padding: 10px 50px;
    font-weight: 500;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background-color: #187bc2;
}
.first-section #middle-option:hover {
    background-color: #005EA6;
}

.second-section {
    top: 600px;
    position: relative;
    padding-top: 60px;
}
.second-section .bg-img {
    bottom: 0;
}
.second-section .text-one h2 {
    font-weight: 300;
}
.second-section .text-one a {
    color: #005EA6;
    font-weight: 500;
}
.second-section .text-one a:hover {
    text-decoration: underline;
}

.third-section {
    background-image: url("../sectionthree.jpg");
    background-repeat: no-repeat;
    top: 600px;
    background-size: cover;
    position: relative;
    color: white;
    height: 600px;
}
.third-section h2 {
    font-weight: 300;
}
.third-section p {
    font-weight: 500;
}
.third-section a {
    color: white;
    font-weight: 600;
}
.third-section a:hover {
    text-decoration: underline;
}

.fourth-section {
    background-color: #003087;
    top: 600px;
    position: relative;
    padding: 60px;
    color: white;
}
.fourth-section h2 {
    font-weight: 300;
}
.fourth-section p {
    font-weight: 500;
}
.fourth-section a {
    font-weight: 600;
    color: white;
}
.fourth-section a:hover {
    text-decoration: underline;
}

.fifth-section {
    top: 600px;
    position: relative;
    padding-top: 60px;
}
.fifth-section .bg-img {
    bottom: 0;
}
.fifth-section .text-one h2 {
    font-weight: 300;
}
.fifth-section .text-one a {
    color: #005EA6;
    font-weight: 500;
}
.fifth-section .text-one a:hover {
    text-decoration: underline;
}

.sixth-section {
    padding: 90px 0px;
    position: relative;
    top: 600px;
    background-color: #F7F9FA;
}
.sixth-section h2 {
    font-weight: 300;
    margin-bottom: 28px;
}
.sixth-section a {
    font-weight: 500;
    color: white;
    background-color: #187bc2;
    padding: 10px 50px;
    border-radius: 20px;
}
.sixth-section a:hover {
    background-color: #005EA6;
}

footer {
    padding: 40px;
    position: relative;
    top: 600px;
}
footer a:hover {
    text-decoration: underline;
}
footer .top {
    border-bottom: 1px rgb(177, 176, 176) solid;
}
footer .top nav ul {
    padding: 0;
}
footer .top nav ul li {
    margin-right: 20px;
    margin-top: 15px;
}
footer .top nav ul li a {
    font-weight: 500;
    color: black;
}
footer .middle {
    border-bottom: 1px rgb(177, 176, 176) solid;
}
footer .middle nav ul {
    padding: 0;
}
footer .middle nav ul li {
    margin-right: 20px;
    margin-top: 15px;
}
footer .middle nav ul li a {
    font-weight: 500;
    color: rgb(93, 93, 93);
}
footer .last {
    font-weight: 500;
    color: rgb(93, 93, 93);
}
footer .last p {
    margin-right: 20px;
    margin-top: 15px;
}
footer .last nav ul {
    padding: 0;
}
footer .last nav ul li {
    margin-right: 20px;
    margin-top: 15px;
}
footer .last nav ul li a {
    font-weight: 500;
    color: rgb(93, 93, 93);
}
footer #last-line {
    color: rgb(143, 143, 143);
}